/* Tip: The border-radius property is actually a shorthand property for the border-top-left-radius, border-top-right-radius, border-bottom-right-radius and border-bottom-left-radius properties. */
div{
  margin-bottom: 1rem;
}

.corner {
  border-top-left-radius: 20px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 50px;
  background: #73ad21;
  padding: 20px;
  width: 200px;
  height: 150px;
}

#rcorners1 {
  border-radius: 25px;
  background: #73ad21;
  padding: 20px;
  width: 200px;
  height: 150px;
}

#rcorners2 {
  border-radius: 25px;
  border: 2px solid #73ad21;
  padding: 20px;
  width: 200px;
  height: 150px;
}

#rcorners3 {
  border-radius: 25px;
  background: url(paper.gif);
  background-position: left top;
  background-repeat: repeat;
  padding: 20px;
  width: 200px;
  height: 150px;
}

/* Specify Each Corner */
#rcorners1 {
  border-radius: 15px 50px 30px 5px;
  background: #73ad21;
  padding: 20px;
  width: 200px;
  height: 150px;
}

#rcorners2 {
  border-radius: 15px 50px 30px;
  background: #73ad21;
  padding: 20px;
  width: 200px;
  height: 150px;
}

#rcorners3 {
  border-radius: 15px 50px;
  background: #73ad21;
  padding: 20px;
  width: 200px;
  height: 150px;
}

#rcorners4 {
  border-radius: 15px;
  background: #73ad21;
  padding: 20px;
  width: 200px;
  height: 150px;
}
