/* NB. Always make sure to set the box-sizing to border-box when dealing with box model. */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
div {
  border: dotted 2px;
  background-color: beige;
}
p {
  text-align: center;
  border: solid 50px green;
  padding: 3rem;
  margin: 4rem;
  background-color: white;
  color: red;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 2rem;
}
