.one {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 2px;
  border: 2px solid #4caf50;
  box-shadow:
    0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
button:nth-last-of-type(1) {
  background-color: magenta;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 2px;
  border: 2px solid magenta;
}
button:nth-of-type(4) {
  background-color: red;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 2px;
  transition: 0.4s;
}
button:nth-of-type(4):hover {
  background-color: #4caf50;
  color: white;
}
button:nth-of-type(5) {
  background-color: purple;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 2px;
  transition: 0.4s;
}
button:nth-of-type(5):hover {
  box-shadow:
    0 8px 16px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Disabled Buttons */
button:nth-of-type(6) {
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  background-color: rgb(219, 53, 7);
  opacity: 0.6;
  cursor: not-allowed;
}
button:nth-of-type(7) {
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  background-color: rgb(219, 53, 7);
  border: none;
  display: block;
}
div {
  width: 300px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("/images/778370.jpg");
}
div > button {
  color: white;
  padding: 15px 20px;
  text-align: center;
  transition: 0.5s;
}
div > button:hover {
  color: black;
  background-color: white;
  border: solid white 2px;
}

button.animate {
  background-color: rgb(54, 149, 54);
  width: 150px;
  height: 70px;
  border: solid rgb(54, 149, 54);
  border-radius: 7px;
  margin-top: 1rem;
  font-size: 2rem;
  box-shadow: 0 10px 0px rgba(0, 0, 0, 0.4);
}
button.animate:hover {
  background-color: green;
  border: solid green;
}
button.animate:active {
  transform: translateY(2px);
  box-shadow: 0 8px 0px rgba(0, 0, 0, 0.6);
}

button.hover {
  background-color: rgb(247, 90, 0);
  width: 150px;
  height: 70px;
  border-radius: 7px;
  margin-top: 1rem;
  border: none;
  font-size: 1.3rem;
  transition: 3s;
}
button.hover:hover::after{
  content:" >>"
}
