ul {
  list-style-type: circle;
  list-style-type: disc;
  list-style-type: square;
  list-style-type: upper-roman;
  list-style-type: lower-alpha;
  list-style-type: upper-alpha;
  list-style-type: lower-roman;
}

ol{
  list-style-image: url("/images/be.jpg");
}

ul.a{
  list-style-position: outside;
  list-style-position: inside;
}

/* ==== LIST SHORTHAND ==== */
ul.b {
  list-style: square inside url("sqpurple.gif");
}