.pagination {
  display: inline-block;
}
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}
.pagination a.active {
  background-color: #4caf50;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

/* Rounded Active and Hoverable Buttons */
.pagination a {
  border-radius: 5px;
}

.pagination a.active {
  border-radius: 5px;
}

/* Hoverable Transition Effect */
.pagination a {
  transition: background-color 0.3s;
}

/* Bordered Pagination */
.pagination a {
  border: 1px solid #ddd; /* Gray */
}

/* Rounded Borders */
.pagination a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination a:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* Space Between Links */
.pagination a {
  margin: 0 4px; /* 0 is for top and bottom. Feel free to change it */
}
