* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.toggle {
  width: 60px;
  height: 30px;
  background: white;
  border: 2px solid black;
  border-radius: 999px;
  padding: 3px;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  margin: 4rem auto;
}

.toggle input {
  display: none;
}

.slider {
  width: 22px;
  height: 22px;
  background: blue;
  border-radius: 50%;
  transition: transform 0.3s ease;
  transform: translateX(0);
}

/* move perfectly to the right */
.toggle input:checked + .slider {
  transform: translateX(28.5px);
}
