<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css')}}" />
    <link
      rel="icon"
      href="{{ url_for('static', filename='emd_divine_grace_logo.png')}}"
      type="image/png"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <title>EMD Divine Grace</title>
    {% block head%} {%endblock%}
  </head>
  <body>
    <header>
      <nav>
        <div id="container">
          <div>
            <a href="{{ url_for('home') }}">
              <img
                style="width: 50px; height: 50px"
                id="logo"
                src="{{ url_for('static', filename='emd_divine_grace_logo.png') }}"
                alt="Home"
              />
            </a>
          </div>
          <div>
            <a href="{{url_for('about')}}">About</a>
            <a href="{{url_for('skills')}}">Skills</a>
            <a href="{{url_for('contact')}}">Contact</a>
          </div>
          <div id="courses">
            <a href="{{url_for('courses')}}">Courses</a>
          </div>
        </div>
      </nav>
    </header>
    <main>{% block body %}{% endblock %}</main>
    <footer>
      <p>&copy; 2026 EMD Divine Grace</p>
      <p>Learn. Build. Grow.</p>
    </footer>
  </body>
</html>
