:root {
  --primary: #222;
  --secondary: #f7cd28;
  --sm-secondary: #ffd324be;
  --author: #eb1253;
  --text: #333;
  --white: #fff;
  --bg: url(car.jpg);
  --shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", monospace;
}

body {
  background: var(--bg) no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: auto;
}

#main-container {
  background: var(--primary);
  max-width: 500px;
  width: 500px;
  border-radius: 10px;
  box-shadow: var(--shadow);
  padding: 2rem;
}

.header {
  color: var(--text);
  text-align: center;
  background-color: var(--secondary);
  padding: 1rem 0;
  margin-bottom: 1.2rem;
  border-radius: 10px;
  font-size: 1.2rem;
}

#quotes-contatainer {
  width: 100%;
  background-color: var(--white);
  box-shadow: var(--shadow);
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 5px;
}

#quote p {
  margin-bottom: 2rem;
  line-height: 1.5;
  color: var(--text);
  text-align: center;
  font-size: 1.2rem;
}

#author {
  color: var(--author);
  text-align: center;
  text-transform: uppercase;
}

#generate-btn {
  padding: 0.8rem;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: 600;
  background: var(--secondary);
  width: 200px;
  display: block;
  margin: auto;
  border: none;
  transition: 0.3s ease;
  cursor: pointer;
}

#generate-btn:hover {
  transform: translateY(-2px);
  background: var(--sm-secondary);
  color: var(--white);
}

#generate-btn:active {
  transform: translateY(0);
  background: var(--secondary);
  color: var(--text);
}
